<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Munity - Guess the song lyrics</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <div class="header">
      <h1>Guess the song lyrics</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      {% if artist == False %}
        <a class="nav-link nav-link-ltr" href="/setartist">set artist</a>
      {% else %}
        <a class="nav-link nav-link-ltr">Artist: {{artist}}</a>
        <a class="nav-link nav-link-ltr" href="/setartist">change artist</a>
        <a class="nav-link nav-link-ltr" href="/guesssong">guess lyrics</a>
      {% endif %}
    </div>
    <div class="content">
      <div class="loading">
      </div>
      <div class="form">
        {% if songnumber == 1 %}
          <p>You get 20 songs and then it gives you a percentage of how good you did</p>
        {% endif %}
        <h4>{{artist}}</h4>
        <p>Song number: {{songnumber}}</p>
        <p>Points: {{points}}</p>
        <p>{{lyric}}</p>
        <form method="POST" action="/guesssong">
          <label for="song">Song:</label>
          <input type="text" name="song" id="song" required>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>