<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Munity - Guess the album cover</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script src="/sticky.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico.ico') }}" />
    <meta name="author" content="VulcanWM">
    <meta name="description" content="Guess the album cover on Munity">
    <meta name="keywords" content="munity, music, vulcanwm, game, fun, album">
  </head>
  <body>
    <div class="header">
      <h1>Guess the album cover</h1>
    </div>
    <div id="navbar" class="navbar">
      <script>
        navbaredit(['home'])
        {% if artist == False %}
          navbaredit(['setartist'])
        {% else %}
          navbaredit(['changeartist', 'guesssong', 'guessalbum'])
        {% endif %}
        {% if username == False %}
          navbaredit(['login', 'signup', 'leaderboard'])
        {% else %}
          navbaredit(['profile', 'leaderboard', 'logout'])
        {% endif %}
      </script>
    </div>
    <div class="content">
      <div class="loading">
      </div>
      <div class="form">
        {% if songnumber == 1 %}
          <p>You get 10 album covers and then it gives you a percentage of how good you did.</p>
          <p>If the album name has something in brackets, that isn't necessary to enter, but you can if you want to.</p>
        {% endif %}
        <h4>{{artist}}</h4>
        <p>Album number: {{songnumber}}</p>
        <p>Points: {{points}}</p>
        <img class="albumcover" src="{{lyric}}">
        <form method="POST" action="/guessalbum">
          <label for="song">Album:</label>
          <input type="text" name="song" id="song" required>
          <br>
          <input class="login-form-button" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>