<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Munity - Guess the album cover</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script src="/sticky.js"></script>
  </head>
  <body>
    <div class="header">
      <h1>Guess the album cover</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      {% if artist == False %}
        <a class="nav-link nav-link-ltr" href="/setartist">set artist</a>
      {% else %}
        <a class="nav-link nav-link-ltr">Artist: {{artist}}</a>
        <a class="nav-link nav-link-ltr" href="/setartist">change artist</a>
        <a class="nav-link nav-link-ltr" href="/guesssong">guess lyrics</a>
        <a class="nav-link nav-link-ltr" href="/guessalbum">guess album</a>
      {% endif %}
      {% if username == False %}
        <a class="nav-link nav-link-ltr" href="/login">Login</a>
        <a class="nav-link nav-link-ltr" href="/signup">Signup</a>
        <a class="nav-link nav-link-ltr" href="/leaderboard">Leaderboard</a>
      {% else %}
        <a class="nav-link nav-link-ltr" href="/profile">Profile</a>
        <a class="nav-link nav-link-ltr" href="/leaderboard">Leaderboard</a>
        <a class="nav-link nav-link-ltr" href="/logout">Logout</a>
      {% endif %}
    </div>
    <div class="content">
      {% if result == True %}
        <p>Yay you got it right!</p>
      {% else %}
        <p>Oh no you got it wrong! It was {{result}}</p>
      {% endif %}
      {% if end == False %}
        <a href="/guessalbum">next album cover</a>
      {% else %}
        <p>You got {{end}}% of {{artist}}'s album covers correctly</p>
        {% set points = end/10 %}
        <p>You got {{points}} XP and {{points}} money!</p>
      {% endif %}
    </div>
  </body>
</html>