<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Munity - Guess the song lyrics</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script src="/sticky.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico.ico') }}" />
  </head>
  <body>
    <div class="header">
      <h1>Guess the song lyrics</h1>
    </div>
    <div class="navbar">
      <script>
        navbaredit(['home'])
        {% if artist == False %}
          navbaredit(['setartist'])
        {% else %}
          navbaredit(['changeartist', 'guesssong', 'guessalbum'])
        {% endif %}
        {% if username == False %}
          navbaredit(['login', 'signup', 'leaderboard'])
        {% else %}
          navbaredit(['profile', 'leaderboard', 'logout'])
        {% endif %}
      </script>
    </div>
    <div class="content">
      <div class="loading">
      </div>
      <div class="form">
        {% if songnumber == 1 %}
          <p>You get 20 songs and then it gives you a percentage of how good you did.</p>
          <p>You have to enter the full name of the song on Spotify, even if it has (feat.) or something included in it.</p>
        {% endif %}
        <h4>{{artist}}</h4>
        <p>Song number: {{songnumber}}</p>
        <p>Points: {{points}}</p>
        <p>{{lyric}}</p>
        <form method="POST" action="/guesssong">
          <label for="song">Song:</label>
          <input type="text" name="song" id="song" required>
          <br>
          <input class="login-form-button" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>