<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Munity</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script src="/sticky.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico.ico') }}" />
    <meta name="author" content="VulcanWM">
    <meta name="description" content="Play fun games on Munity">
    <meta name="keywords" content="munity, music, vulcanwm, game, fun, song, album">
  </head>
  <body>
    <div class="header">
      <h1>Munity</h1>
    </div>
    <div class="navbar">
      <script>
        navbaredit(['home'])
        {% if artist == False %}
          navbaredit(['setartist'])
        {% else %}
          navbaredit(['changeartist', 'guesssong', 'guessalbum'])
        {% endif %}
        {% if username == False %}
          navbaredit(['login', 'signup', 'leaderboard'])
        {% else %}
          navbaredit(['profile', 'leaderboard', 'logout'])
        {% endif %}
      </script>
    </div>
    <div class="content">
      <img class="munitypic" src="{{ url_for('static', filename='Munity.png') }}" alt="munitylogo">
      <p>Munity is a game where you can test yourself on things related to an artist.</p>
      <p>This game gets the song and album names from Spotify, and then gets lyrics from Genius.com.</p>
      <p>You can play it without signing up, but if you sign up, you can see your highest scores in each game and can have XP and money.</p>
      <p>Currently, you can test yourself on an artist's song lyrics and album covers.</p>
      <hr>
      <p>Thanks to <a href="https://dillonb07.is-a.dev">dillonb07</a> for helping with the logo</p>
    </div>
  </body>
</html>