<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Munity - Leaderboards</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script src="/sticky.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico.ico') }}" />
    <meta name="author" content="VulcanWM">
    <meta name="description" content="Play fun games on Munity">
    <meta name="keywords" content="munity, music, vulcanwm, game, fun, song, album">
  </head>
  <body>
    <div class="header">
      <h1>Leaderboards</h1>
    </div>
    <div class="navbar">
      <script>
        navbaredit(['home'])
        {% if artist == False %}
          navbaredit(['setartist'])
        {% else %}
          navbaredit(['changeartist', 'guesssong', 'guessalbum'])
        {% endif %}
        {% if username == False %}
          navbaredit(['login', 'signup', 'leaderboard'])
        {% else %}
          navbaredit(['profile', 'leaderboard', 'logout'])
        {% endif %}
      </script>
    </div>
    <div class="content">
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'XP')" id="defaultOpen">Top 10 XP Players</button>
        <button class="tablinks" onclick="openCity(event, 'Money')">Top 10 Money Players</button>
      </div>
      <div id="XP" class="tabcontent">
        <h2>Top 10 XP Players</h2>
        {% for user in xplb %}
          <p><a href="/@{{user['Username']}}">{{user['Username']}}</a>: {{user['XP']}}</p>
        {% endfor %}
      </div>
      <div id="Money" class="tabcontent">
        <h2>Top 10 Money Players</h2>
        {% for user in moneylb %}
          <p><a href="/@{{user['Username']}}">{{user['Username']}}</a>: {{user['Money']}}</p>
        {% endfor %}
      </h2>
    </div>
  </body>
</html>