<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Munity - Login</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script src="/sticky.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico.ico') }}" />
    <meta name="author" content="VulcanWM">
    <meta name="description" content="Play fun games on Munity">
    <meta name="keywords" content="munity, music, vulcanwm, game, fun, song, album">
  </head>
  <body>
    <div class="header">
      <h1>Login</h1>
    </div>
    <div class="navbar">
      <script>
        navbaredit(['home'])
        {% if artist == False %}
          navbaredit(['setartist'])
        {% else %}
          navbaredit(['changeartist', 'guesssong', 'guessalbum'])
        {% endif %}
        navbaredit(['login', 'signup', 'leaderboard'])
      </script>
    </div>
    <div class="content">
      {% if error != None and error != False and error != "" %}
        <p>{{error}}</p>
        <br>
      {% endif %}
      <center>
        <div class="login-form-body">
          <div class="login-form-form">
            <form method="POST" action="/login">
              <h2>Login</h2>
              <input class="login-form-input" placeholder="username" name="username" autocomplete="off" required><br>
              <input class="login-form-input" placeholder="password" type="password" name="password" required><br><br>
              <button class="login-form-button">login</button>
            </form>
          </div>
        </div>
      </center>
    </div>
    <script src="/sticky.js"></script>
  </body>
</html>